#content
  != self.partial('@admin.core.blocks.sidebar_menu')

  .main
    != self.partial('@admin.core.blocks.breadcrumbs')

    .page-head
      .dropdown.float-end
        button.btn.btn-square.btn-light.dropdown-toggle(
          type='button'
          data-bs-toggle='dropdown'
        )
        .dropdown-menu.dropdown-menu-end
          - var localizationPrefix = '@admin.menus.nntp.';

          - function compare(a, b) { return (a.info.priority || 100) - (b.info.priority || 100); }

          - function sortedItems(items) {
          -   var result = [];
          -   Object.keys(items).forEach(function (name) {
          -     if (!items[name]) { return; }
          -     result.push({ name: name, info: items[name] });
          -   });
          -   return result.sort(compare);
          - }

          each item in sortedItems(self.menu)
            a.dropdown-item(
              href=self.link_to(item.info.to)
            )= self.t(localizationPrefix + item.name)

          button.dropdown-item(
            type='button'
            data-on-click='admin.nntp.index:rebuild_all'
          )= self.t('rebuild_all')
      h1.page-head__title= self.head.title

    table.nntp-groups.table.table-hover.table-striped
      each group in self.groups
        - var rebuild = self.rebuild_in_progress[group._id];
        tr.nntp-groups__row(
          id= 'nntp-group-' + group._id
          class=rebuild ? 'nntp-groups__m-rebuild' : ''
        )
          td
            a(
              href=self.link_to('admin.nntp.update.' + group.type, { _id: group._id })
              title=self.t('edit_group')
            )= group.name
          td
            .dropdown.float-end
              button.btn.btn-square.btn-sm.btn-light.dropdown-toggle(
                type='button'
                data-bs-toggle='dropdown'
              )
              .dropdown-menu.dropdown-menu-end
                button.dropdown-item(
                  type='button'
                  data-on-click='admin.nntp.index:rebuild_group'
                  data-group-id=group._id
                )= self.t('rebuild_group')

                button.dropdown-item(
                  type='button'
                  data-on-click='admin.nntp.index:remove_group'
                  data-group-id=group._id
                )= self.t('remove_group')
